/* * *
 * Artefact :: CSS
 * CSS styles for Artefact.js
 * Created By: Lawson Wang-Wills
 */

.Artefact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ArtefactContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0 1em;
}

.ArtefactImageContainer {
    width: 100%;
    margin: 1em 0;
}
.ArtefactImageContainer img {
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    /* limit how much space an image can take up on large devices */
    .ArtefactImageContainer img {
        max-height: 500px;
    }

    /* on larger screens, remove extra margin whitespace for content, since we already have some */
    .ArtefactContent {
        margin: 0;
    }
}

.ArtefactRelations {
    width: 100%;
    padding: 0em 1em 0.5em 1em;
}

.ArtefactRelation {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    width: 100%;
    padding: 0.5em 0;

    transition: 0.5s;
}

.ArtefactRelation:hover {
    background: #f8f8f8;
}

.ArtefactRelation p {
    margin: 0 0.5rem;
}

.ArtefactRelationDivider {
    margin: 0;
}