/* * *
 * Objects :: CSS
 * CSS styles for display of objects, such as artefacts, people and events.
 */

.object-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0em 1rem 2rem 1rem;
}