/**
 * Navigation :: CSS
 * Stylesheet for the navigation bar.
 */

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto 24px auto;
}

.nav-logo {
    margin: 0.25em;
}

.menu-main {
    width: 100%
}