/* * *
 * ArtefactList :: CSS
 * CSS styles for ArtefactList.js
 */

.ArtefactList {
    margin: 0 auto;
}

.ArtefactListElement {
    padding: 1.25em 0.5em;
    transition: 0.5s;
}

.ArtefactListElement:hover {
    background: #f8f8f8;
}

.ArtefactListElementDivider {
    margin: 0;
}