/* * *
 * ArtefactList :: CSS
 * CSS styles for ArtefactList.js
 */

.artefact-list-wrapper {
    margin: 2rem auto 0 auto;
}

.artefact-list {
    margin: 1rem 0;
    line-height: 0;
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
}

@media screen and (min-width: 768px) {
    .artefact-list {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}

@media screen and (min-width: 1268px) {
    .artefact-list {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}

.artefact-list-element {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    margin-bottom: 1em;
    width: auto;
}