.image-displayer {
   display: flex;
   flex-direction: row;
}

.carousel-container {
   width: 100%;
}

.carousel-container .slick-dots li button {
   background-color: #444444;
}
.carousel-container .slick-dots li.slick-active button {
   background-color: #222222;
}

.carousel-image-container {
   width: 100%;
}

.carousel-image-container img {
   width: 100%;
   object-fit: contain;
}

@media screen and (min-width: 768px) {
   /* limit how much space an image can take up on large devices */
   .carousel-image-container img {
      max-height: 500px;
   }
}
